body {
    margin: 0;
    background-color: #EA906C;
}

footer {
    border: 2px solid black;
    padding-left: 10px;
    background-color: rgb(50, 45, 45);
}

/* div {
    height: 600px;
    display: flex;

} */

footer div {
    color: whitesmoke;
    font-size: medium;
    display: inline-block;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

article {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border-top: 4px solid black;
    padding: 6px;
    border-radius: 10%;
    box-shadow: 10px 5px 5px red;


    background-color: rgba(255, 255, 255, 0.7);

}

/* .absolute {
    color: white;
    background-color: black;
    position: static;
    top: 1px;
    left: 1px;
} */

nav a {
    margin: 8%;
}